@model Yeni.Models.Model.Hakkimizda
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="container">
    <div class="col-md-12">
        <h4>Otel Hakkinda</h4>
        <img src="~/Uploads/Slider/5348e9b4-45c9-4962-9754-f90cdcf24df1.jpg" alt="" class="align-center img-box img-responsive" />
        <p>
            @Html.Raw(Model.Aciklama)
        </p>
    </div>
</div>
